- styles = require("./main.css");
#ImgVerif(style=`position: relative; width: ${svCanvasWidth}px; margin: 0px auto;`)
  div(class=styles.canvasWrapper,style=` width:${svCanvasWidth}px;height:${svCanvasHeight}px`)
    canvas(width=svCanvasWidth, height=svCanvasHeight)
    div(class=styles.loadingIcon)
  .refreshIcon(class=styles.refreshIcon,style=" display:none;")
    i.fas.fa-sync-alt
  canvas(class=styles.block, width=svCanvasWidth, height=svCanvasHeight)
  .sliderContainer(class=styles.sliderContainer)
    .sliderMask(class=styles.sliderMask)
      .slider(class=styles.slider)
        span.sliderIcon(class=styles.sliderIcon)
          i.fas.fa-bars.fa-rotate-90
    span.sliderText(class=styles.sliderText) #{slideTips}